body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    display: flex;
    justify-content: center;
}

.group {
    margin-bottom: 16px;
    color: white;
}

label{
    display: block;
    margin-bottom: 4px;
}

.form-control {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.btn-success:hover {
    background-color: #218838;
}

.card {
    width: 400px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #1c1c1e;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
}