body{
    background-color: #1d1d1f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: auto;
    display: flex;
    justify-content: center;
}

.group {
    margin-bottom: 16px;
    color: white;
}

label{
    display: block;
    margin-bottom: 4px;
}

.form-control {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.card, .listaCard{
    width: 400px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #2a2a2b;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: background-color 0.3s ease;
    color: white;
}

.card:hover {
    background-color: #252526;
}

.cadastrado {
    width: 400px;
    height: auto;
    margin-top: 100px;
    background-color: #28a745;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: white;
    text-align: center;
}

.btn-success, .btn-secondary, .btn-danger {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
}

.btn-success:hover, .btn-secondary:hover, .btn-danger:hover {
    background-color: #218838;
}

